/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
    font-family: 'Noto Sans TC', sans-serif;
}
/* hide sections until they are shown via the click events */
#questions,
#final,
#highscores,
#yaynay,
#yay,
#nay {
    display: none;  
  } 

  ul.nobullets {
    list-style-type: none;
  }